@charset "UTF-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Eagle+Lake);


body { 
	margin:0; 
	font-family:'tahoma';
	/*background-image: url('../images/red-subtlepattern.jpg');   This is Evan's background */
	background-image: url('../images/CroatianSquareredcrsmallest.jpg');
	background-attachment: fixed; /* this keeps the background image fixed, while rest of page scrolls*/
	padding: 3%;
	
}

#wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 1%;	
	background: rgba(255,255,255,.7);
	border-radius: 60px;

	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(244,244,244,0.62) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(244,244,244,0.62))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,0.62) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,0.62) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,0.62) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(244,244,244,0.62) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#9ef4f4f4',GradientType=0 ); /* IE6-9 */
}

#logo {
	text-align: center;
	width: 60%;
	margin: 0 auto;
	padding: 1.5%; 
}

#logo img{
	max-width: 70%;
	
}

nav ul ul {
	display: none;
}


nav ul li:hover > ul, nav ul li:active > ul {
		display: block;
}


nav ul {
	/*background: #5f6975; */
	/*box-shadow: 0px 0px 9px rgba(0,0,0,0.15);*/
	padding-left: 14%;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	width:90%;
	margin: 0 auto;
}


nav ul:after {
		content: ""; 
    clear: both; 
    display: block;
}


nav ul li {
	float: left;
}


nav ul li:hover, nav ul li:active {
  background: #4b545f;
}
		

nav ul li:hover a, nav ul li:active a {
  color: #fff;
}
	
nav ul li a {
  display: block; 
  padding: 10px 20px;
  color: #690303; 
  text-decoration: none;
  font-family: papyrus, sans-serif;
  font-size: 1.6em;
}

nav ul ul {
	background: rgba(75, 84, 95, 0.8); 
  border-radius: 0px; 
  padding: 0;
	position: absolute; 
  top: 100%;
  width: auto;
  z-index: 99;
}


nav ul ul li {
  float: none; 
  border-top: 1px solid #6b727c;
  border-bottom: 1px solid #575f6a;
  position: relative;
}


nav ul ul li a {
  padding: 10px 40px;
  color: #fff;
}	


nav ul ul li a:hover, nav ul ul li a:active {
  background: rgba(75, 84, 95, 0.6);
  color: #CED0D6;
}

.hidden-nav {
	display: none;
}

.arrows {
	padding: 0;
	margin: 0;
	font-size: .75em;
	display: inline-block;
}


.slicknav_menu {
	display:none;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 90%;
  padding: 0;
  margin: 0 auto;
 }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
 }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
 }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
 }
  
#main-content {
	padding: 4%;  
 }
  
.social {
	width: 30%;
	height: auto;
	
	float: left;
}
  
  
.social img {
	max-width: 80%;

	padding-top: 5%;
}
  
#home-text {
	float: left;
	padding-left: 4%;
	width: 60%;
}
  
h1 {
  display: inline-block;
  margin: 0;
  font-family: papyrus, sans-serif;
}
  
  
h2 {
	font-family: papyrus, sans-serif;
	text-align: center;
	font-size: 2em;
	color: #690303;
	margin: 0;
	padding-top: 1%;
}
  
 
footer {
	width: 80%;
	padding: 2%;
	margin: 0 auto;	
}
  
footer p {
	font-size: 0.5em;
	text-align: center;
}


.listen {
	padding-left: ;
	margin-bottom: ;	
}


.soundcloud {

	width: 50%;
	padding: 2%;
	margin: 2% auto;
}

.purchase {

}

.purchase p {
	text-align: center;	
}


.two-albums {
	padding-left: ;	
}

.album {
	float: left;
	width: 42%;
	padding: 2%;
	margin: 2%;
	text-align: center;
}

.album img {
	max-width: 100%;	
	text-align: center;
	
}


.album-title {
	font-family: papyrus, sans-serif;
	font-size: 1.4em;
	color: #690303;
}



.track-listing {
	text-align: left;
	padding-left: 10%;
}



.track-listing li{
	text-align: left;
}

.about-left {
	float: left;
	width: 48%;
	padding: 1%;
}

.about-left img {
	max-width: 100%;
}


.about-right {
	float: left;
	width: 48%;
	padding: 1%;
}


.singer-profile {
	margin-bottom: 2%;	
}

.singer-image {
	float: left;
	width: 18%;
	padding: 1%;	
}

.singer-image img {
	width: 100%;	
}


.singer-bio {
	float: left;
	width: 68%;
	padding: 1%;
}

.singer-bio p {
	margin: 0;
	text-align:justify;
}

.singer-flower {
	float: left;
	width: 8%;
	padding: 1%;
}


.singer-flower img {
	width: 100%;
}


.even {
	float: right;
}


.singer-name {
	font-family: papyrus, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	color: #690303;
	line-height: 1em;
}


.auditions-image {
	float: left;
	width: 48%;
	padding: 1%;
}
	
.auditions-image img {
	width: 90%;
}


.auditions-text1 {
	float: left;
	width: 48%;
	padding: 1%;
	padding-top: 5%;
}

.auditions-text2 {
	width: 80%;
	margin: 0 auto;
}

.auditions-text2 ul {
	padding-left: 10%;
	font-size: 1em;
	line-height: 1em;
}

.auditions-text2 ul li {
	list-style: url(../../svitanya2/images/embr5C.png);
	vertical-align: top;
	line-height: 1em;
}


.event-date {
	float: left;
	width: 25%;
	padding: 1%;	
}


.event-listing {
	width: 80%;
	margin: 0 auto;
	padding-bottom: 2%;
	
	
}

.event-description {
	float: left;
	width: 	71%;
	padding: 1%;
}


.vertical-pattern {
	width: 8%;
	float: left;
	padding:1%;	
}

.vertical-pattern img {
	max-width: 100%;
}

.images {
	float: left;
	width: 80%;
	padding-top: 1%;
}

.past-events {
	margin: 0;	
}


.past-image {
	width: 32%;
	padding: 2%;
	margin: 0;
	float: left;
}

.past-image2 {
	width: 32%;
	padding: 2%;
	margin: 0;
	float: right;
}

.past-image img, .past-image2 img {
	width: 100%;	
}

.past-listings {
	float: left;	
	width: 62%;
	padding: 0 0 2% 2%;
	margin-bottom: 0;
}

.past-listings2 {
	margin-top: 0;
	float: right;	
	width: 62%;
	padding: 0 2% 2% 0;
	text-align: right;
}


/*
.past-events {
	background-image: url('../images/Svitanya-0074-brighter-red-desat-med.jpg');
	background-attachment: fixed; 
	background-position:center middle;
	background-repeat: no-repeat;
	background: url('../images/Svitanya-0074-brighter-red-desat-med.jpg') center center no-repeat;
}
*/

.past-events ul {
	list-style: none;
	
}


.booking-page2 {
	width: 80%;	
	margin: 0 auto;
	padding: 2%;
}


.booking-page2 p {
	text-align: center;	
}

.booking-page2 ul {
	padding-left: 10%;
	font-size: 1em;
	line-height: 1em;
}

.booking-page2 ul li {
	list-style: url(../../svitanya2/images/embr5C.png);
	vertical-align: top;
	line-height: 1em;
	padding-left: 3%;
	margin-bottom: 3%;
}


.marketing-materials {
	padding-left: 10%;	
}


.materials-left {
	float: left;
	width: 35%;
	padding: 2%;	
}

.materials-left ul {
	text-align: right;	
	padding: 0;
	margin-top: 0;
}




.materials-image {
	width: 12%;
	float: left;	
	text-align: center;
}

.materials-image img {
	width: 70%;
	
}


.materials-right {
	float: left;
	width: 35%;
	padding: 2%;	
}

.materials-right ul {
	text-align: left;	
	padding: 0;
	margin-top: 0;
}

.materials-right ul li, .materials-left ul li {
	list-style: none;
	margin-bottom: 10%;
		
}

.thumbnails img {
	float: left;
	width: 40%;
	margin: 3%;	
	
}

.thumbnails1, .thumbnails2 {
	float: left;
	width: 40%;
	padding: 2%;	
}

.thumbnails {
	padding-left: 9%;	
}


.thumbnails3 {
	width: 40%;
	margin: 0 auto;	
}


.bold {
	font-weight: bold;
	vertical-align: top;	
}


.contact-info {
	width: 80%;
	margin: 0 auto;
}

.contact-item {
	width: 90%;
	padding: 2%;
	margin: 0 auto 2% auto;
	
}

.contact-heading {
	font-style: italic;
	color: #690303;	
}

.group:after {
  content: "";
  display: table;
  clear: both;
 }



/*    -----------------------------------------------------------------     */
/*                ****Media Queries - For Responsive****                    */
/*        Everything above this applies to screens at least 1101px wide     */



@media screen and (max-width: 1100px) {
nav ul {
	padding-left: 10.5%;
	width:90%;
}
	
	
}

@media screen and (max-width: 1000px) {
nav ul {
	padding-left: 7%;
	width:96%;
}

nav ul li a {
	padding: 10px 15px;	
}

.album {

	width: 40%;

}

.listen {
	text-align: center;	
}


.soundcloud {
	float: none;
	width: 60%;
	
	margin: 0 auto;

}

.auditions-image img {
	width: 100%;
	height: auto;
}

.event-date {
	width: 80%;
	margin: 0 auto;
	text-align: left;	
	padding-bottom: 0;
	font-style: italic; 
}

.event-description {
	width: 80%;
	margin: 0 auto;
	text-align: left;	
	padding-top: 0;
}

.event-listing {
	padding-bottom: 5%;
	padding-left: 18%;
}
	
	
.track-listing {
	padding-left: 5%;	
}
	
	
	
}

@media screen and (max-width: 950px) {
nav ul {
	padding-left: 2.5%;

}
	
	
}

@media screen and (max-width: 900px) {
nav ul {
	padding-left: 2%;
	
}
	
nav ul li a {
	font-size: 1.5em;
}

.album {
	float: none;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	
}


.album ol {
	text-align: left;
	padding-left: 25%;
}

.soundcloud {
	float: none;
	width: 80%;
	margin: 0 auto;
}


.music-page {
	margin-bottom: 15%;	
}

.singer-profile {
	margin-bottom: 1%;	
}

.singer-image {
	float: none;
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.even {
	float: none;	
}

.singer-image img {
	width: 70%;
	height: auto;
}


.singer-flower {
	float: none;
	margin: 0 auto;
}

.singer-bio {
	float: none;
	width: 80%;
	margin: 0 auto;
}

.materials-image {
	display: none;
	
}

.materials-left, .materials-right {
	width: 42%;	
}

.materials-left ul, .materials-right ul {
	text-align: center;	
}

.materials-left ul li, .materials-right ul li {
	margin-bottom: 29%;	
}

.thumbnails1, .thumbnails2, .thumbnails3 {
	float:none;
	margin: 0 auto;
	width: 70%;	
}


}


@media screen and (max-width: 850px) {
nav ul {

}

nav ul li a {
	font-size: 1.4em;	
}

.social {
	width: 80%;
	margin: 0 auto;
	height: auto;
	text-align: center;
	float: none;
}
  
  
.social img {
	max-width: 60%;
	padding-top: 5%;
}
  
#home-text {
	float: none;
	padding: 2%;
	width: 90%;
	margin: 0 auto;
}


.about-left {
	float: none;
	width: 60%;
	margin: 0 auto;
	text-align: center;
}




.about-right {
	float: none;
	width: 60%;
	margin: 0 auto;
	text-align: center;
}
	
	
.auditions-text1 {
	padding-top: 2%;
}
	
	
.past-image {
	width: 50%;
	padding: 2%;
	margin: 0 auto;
	float: none;
}

.past-image2 {
	width: 50%;
	padding: 2%;
	margin: 0 auto;
	float: none;
}

.past-image img, .past-image2 img {
	width: 100%;	
}

.past-listings {
	float: none;	
	width: 80%;
	padding: 2%;
	text-align: center;
	margin: 0 auto;
}

.past-listings2 {
	float: none;	
	width: 80%;
	padding: 2%;
	text-align: center;
	margin: 0 auto;
}	

.past-listings ul, .past-listings2 ul {
	padding-left: 0;	
}
	
	
	
	
	
	
}

@media screen and (max-width: 815px) {
nav ul {
	padding-left: 0.5%;

}

.contact-item {
	
	margin-bottom: 6%;
	
}
	
	
}

@media screen and (max-width: 800px) {
	nav ul {


}
	
	
}

@media screen and (max-width: 785px) {
	/* #menu is the original menu */
	#menu {
		display:none;
	}
	
	.hidden-nav {
		display: none;	
	}
	
	.slicknav_menu {
		display:block;
	}
	
	.slicknav_menu {
		display:block;
		background: transparent;
	}
	
	.slicknav_icon {
		display:;
	}	
	
	.slicknav_nav {
		font-size: 1.8em;
		line-height: 1.8em;
		text-align: center;
	
	}
	
	.slicknav_nav a {
		font-family: papyrus, sans-serif;
		color: #fff;
	}
	
	.arrows {
		display: none;	
	}
	
	#logo {
		text-align: center;
		width: 90%;
		margin: 0 auto;
		padding: 1.5%; 
	}
	
	.track-listing {
		padding-left: 1%;	
	}
	

}

@media screen and (max-width: 600px) {
	
.album ol {
	padding-left: 20%;
}

.about-left {

	width: 90%;

}


.about-right {
	width: 90%;

}

.auditions-image, .auditions-text1 {
	float: none;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.auditions-text1 h2 {
	margin: 0;
	padding: 5%;
	line-height: 1.2em;	
}

.event-listing {
	padding-bottom: 6%;	
}

.thumbnails1, .thumbnails2, .thumbnails3 {
	width: 90%;
}	

	
}
